body {
  margin: 24px;
  padding: 0;
  background: #010121;
  color: #1E1E1F;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  color: #d1f7ff;
  display: flex;
  justify-content: center;
}

#root {
  width: 50vh;
  min-height: 90vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  border-radius: 15px;
  box-shadow: 0 0 .1rem #fff,
    0 0 .1rem #fff,
    0 0 1rem #bc13fe,
    0 0 0.4rem #bc13fe,
    0 0 1.4rem #bc13fe,
    inset 0 0 .7rem #bc13fe;
}